<footer>
  <div class="menu">
    <div class="menuItem">
      <span>Suporte</span>
      <ul>
        <li routerLink="/suporte">Central de Ajuda</li>
        <a
          href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20Administrativo."
          target="_blank"
        >
          <li>Administrativo</li>
        </a>
        <a
          href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20comercial."
          target="_blank"
        >
          <li>Comercial</li>
        </a>
        <a
          href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20financeiro."
          target="_blank"
        >
          <li>Financeiro</li>
        </a>
        <a
          href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20para%20o%20Sem%20Parar."
          target="_blank"
        >
          <li>Sem Parar</li>
        </a>
      </ul>
    </div>
    <div class="menuItem">
      <span>Soluções</span>
      <ul>
        <li routerLink="solucoes/controledeacesso">Controle de Acesso</li>
        <li routerLink="solucoes/correspondencia">
          Gestão de<br />
          Correspondência
        </li>
        <li routerLink="solucoes/cftv">CFTV</li>
        <li routerLink="solucoes/semparar">Sem Parar</li>
      </ul>
    </div>
    <div class="menuItem">
      <span>Sobre</span>
      <ul>
        <li routerLink="sobre/institucional">Institucional</li>
        <li routerLink="sobre/lgpd">LGPD</li>
      </ul>
    </div>
    <div class="social">
      <app-social></app-social>
      <small
        >© Copyright {{ anoAtual }} CondoUX. Todos os direitos
        reservados.</small
      >
    </div>
  </div>
</footer>
