footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: var(--azul-principal);
  padding: 1rem;
  gap: 2rem;
  color: white;
  width: 100vw;
  font-size: 0.5rem;
}

span {
  font-weight: 600;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 80%;
}

.menuItem ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  list-style: none;
}

.menuItem span {
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  margin-top: 1rem;
}

.menuItem li {
  font-size: 0.8rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 4rem;
    justify-content: center;
  }

  .menu {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .menuItem {
    width: 25%;
  }

  .menuItem span {
    margin-top: 0;
  }

  .social {
    margin-top: 0;
  }

  .menuItem li:hover {
    color: var(--laranja-principal);
  }
}
