<section id="interface">
  <h2>Interface <b>intuitiva</b> e <b>amigável</b></h2>
  <p>Use sem complicação: tudo no lugar certo, do jeito que você espera.</p>
  <div class="container">
    <div class="imageNotebook">
      <img src="assets/imagens/sistemanote.png" alt="Notebook" />
    </div>
    <div class="texto">
      <p>
        Navegue com <b>facilidade</b>. Nosso software foi desenvolvido com foco
        na <b>experiência do usuário</b>, oferecendo uma
        <b>interface limpa, moderna e intuitiva.</b> Com poucos cliques, você
        acessa todas as funcionalidades, tornando a
        <b>gestão mais simples, rápida e eficiente.</b> Ideal para quem valoriza
        praticidade sem abrir mão de desempenho.
      </p>
    </div>
  </div>
</section>
