<section id="lgpd">
  <div class="container">
    <h2>Certificação LGPD</h2>
    <div class="textoConteudo">
      <p class="inicio">
        <b
          >A preocupação com a proteção de dados sensíveis é uma realidade
          crescente entre clientes e empresas.</b
        >
      </p>
      <p>
        Atenta a essa demanda, a
        <b
          >CondoUX implementou rigorosospadrões de segurança e alinhou seus
          processos, fluxos de dados e sistemas às diretrizes da Lei Geral de
          Proteção de Dados (LGPD)</b
        >
        e de normas internacionais.
      </p>
      <p>
        Como resultado, conquistamos a
        <b
          >Certificação de Conformidade, reforçando nosso compromisso com a
          privacidade, a transparência e a integridade na troca de
          informações</b
        >. Essa conquista garante uma governança contínua e segura dos dados
        pessoais, promovendo confiança e excelência em todos os nossos serviços.
      </p>
    </div>
    <app-faq></app-faq>
  </div>
</section>
