#inicio {
  padding: 2rem;
  height: 92vh;
  margin-left: -2rem;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 1rem;
  text-align: center;
  background-color: var(--laranja-principal);
  position: relative;
}

h1 {
  font-size: 3rem;
  color: var(--azul-principal);
  margin-top: 2rem;
  text-shadow: -1px -1px 0 var(--laranja-principal),
    1px -1px 0 var(--laranja-principal), -1px 1px 0 var(--laranja-principal),
    1px 1px 0 var(--laranja-principal);
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

p {
  font-size: 1.5rem;
  font-weight: 350;
  color: var(--texto-sistema);
}

button {
  padding: 0.8rem;
  background-color: var(--azul-principal);
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  width: 100%;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  color: var(--laranja-principal);
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  height: 92vh;
  position: absolute;
  z-index: 20;
  bottom: 2rem;
}

@media (min-width: 1024px) {
  #inicio {
    height: 90vh;
    position: relative;
  }

  .slide {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100vh;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 0.8rem;
  }
}
