<section id="acesso">
  <div class="imagens" *ngFor="let item of imagens">
    <img [src]="item.link" alt="" />
  </div>
  <h2>Controle de Acesso</h2>
  <h3><b>Segurança e agilidade</b> na entrada do seu condomínio.</h3>
  <p>
    O <b>controle de acesso</b> é essencial para garantir a segurança do seu
    condomínio. Com nosso sistema, você tem total <b>controle</b> sobre quem
    entra e sai, com <b>registros completos e relatórios detalhados</b>.
  </p>
  <app-lista-acesso></app-lista-acesso>
</section>
