<div class="slide">
  <div class="titulo">
    <h3>{{ fotos[indiceFoto].titulo }}</h3>
    <span>{{ fotos[indiceFoto].frase }}</span>
  </div>
  <div class="animate__animated imagens" [ngClass]="fadeClass">
    <img
      [src]="fotos[indiceFoto].link"
      [alt]="fotos[indiceFoto].titulo"
      (swipeleft)="proximo()"
      (swiperight)="anterior()"
    />
  </div>
  <button (click)="proximo()" class="bi bi-chevron-right" id="proximo"></button>
  <button
    (click)="anterior()"
    class="bi bi-chevron-left"
    id="anterior"
  ></button>
</div>
