<section id="semparar">
  <div class="imagens">
    <img src="/assets/imagens/semparar/semparar.webp" alt="" />
  </div>
  <h2>Acesso Veícular Inteligente - Sem Parar</h2>
  <h3><b>Fluxo ágil</b> e <b>sem contato</b> para moradores e visitantes.</h3>
  <p>
    Nosso sistema é integrado com o Sem Parar, permitindo que os moradores
    acessem o condomínio com mais <b>velocidade</b> e <b>segurança</b>,
    <b>sem parar na portaria</b>. Todas as entradas e saídas são registradas de
    forma automática e confiável.
  </p>
  <div class="contratar">
    <a
      href="https://wa.me/551146173562?text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20o%20Sem%20Parar."
      target="_blank"
      rel="noopener noreferrer"
    >
      <button>Contratar</button></a
    >
  </div>
  <app-lista-semparar></app-lista-semparar>
</section>
