<section id="faq">
  <h2>Dúvidas?</h2>
  <p>
    Tire suas dúvidas, e descubra tudo o que precisa saber para utilizar a
    <b>CondoUX</b> agora:
  </p>
  <div class="containerPerguntas">
    <div *ngFor="let item of perguntas; let i = index" class="container">
      <div (click)="abrirResposta(i)" class="pergunta">
        <span>{{ item.pergunta }}</span>
        <i
          class="bi"
          [ngClass]="perguntaAberta === i ? 'bi-chevron-up' : 'bi-chevron-down'"
        ></i>
      </div>
      <div *ngIf="perguntaAberta === i" class="resposta">
        <p>{{ item.resposta }}</p>
      </div>
    </div>
    <div class="bannerFinal">
      <h3>Ainda tem dúvidas?</h3>
      <div>
        <button>
          <a
            href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20tirar%20uma%20d%C3%U1%2Cvida%20sobre%20o%20sistema."
            target="_blank"
            >Chamar no Whatsapp!
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
