<nav>
  <div class="menuTopo">
    <i
      (click)="toggleMenu()"
      [ngClass]="menuAberto ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"
    ></i>
    <div *ngIf="menuAberto" class="menuAberto">
      <ul class="principal">
        <li>
          <div class="principalTitulo">
            <a routerLink="" (click)="fecharMenu()"><span>Home</span></a>
          </div>
        </li>
        <li>
          <div (click)="toggleSubMenu('solucoes')" class="principalTitulo">
            <span>Soluções</span>
            <i
              class="seta"
              [ngClass]="
                abrirMenu === 'solucoes'
                  ? 'bi bi-chevron-up'
                  : 'bi bi-chevron-down'
              "
            ></i>
          </div>
          <ul *ngIf="abrirMenu === 'solucoes'" class="subMenu">
            <li>
              <a
                routerLink="solucoes/controledeacesso"
                routerLinkActive="router-link-active"
                (click)="fecharMenu()"
                >Controle de Acesso</a
              >
            </li>
            <li>
              <a
                routerLink="solucoes/correspondencia"
                routerLinkActive="router-link-active"
                (click)="fecharMenu()"
                >Gestão de Correspondência</a
              >
            </li>
            <li>
              <a routerLink="solucoes/cftv" (click)="fecharMenu()"
                >Segurança CFTV</a
              >
            </li>
            <li>
              <a routerLink="solucoes/semparar">Sem Parar</a>
            </li>
          </ul>
        </li>
        <li>
          <div (click)="toggleSubMenu('institucional')" class="principalTitulo">
            <span>Sobre</span>
            <i
              class="seta"
              [ngClass]="
                abrirMenu === 'institucional'
                  ? 'bi bi-chevron-up'
                  : 'bi bi-chevron-down'
              "
            ></i>
          </div>
          <ul *ngIf="abrirMenu === 'institucional'" class="subMenu">
            <li>
              <a
                routerLink="sobre/institucional"
                routerLinkActive="router-link-active"
                (click)="fecharMenu()"
                >Institucional</a
              >
            </li>
            <li>
              <a
                routerLink="sobre/lgpd"
                routerLinkActive="router-link-active"
                (click)="fecharMenu()"
                >LGPD</a
              >
            </li>
          </ul>
        </li>
        <li>
          <div class="principalTitulo" (click)="fecharMenu()">
            <a routerLink="/suporte"><span>Suporte</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
