<section id="cftv">
  <div *ngFor="let item of imagens" class="imagens">
    <img [src]="item.link" alt="" />
  </div>
  <h2>Segurança CFTV</h2>
  <h3>Transforme sua <b>segurança</b> com <b>tecnologia</b> de ponta</h3>
  <p>
    A <b>CondoUX</b> é <b>especializada em sistemas de monitoramento CFTV</b> de
    última geração, oferecendo soluções personalizadas para garantir
    <b>segurança e eficiência.</b> Com equipamentos de ponta e as melhores
    práticas, proporcionamos <b>controle total e tranquilidade,</b> elevando a
    segurança do seu espaço com tecnologia de alta performance.
  </p>
  <div class="contratar">
    <button>Contratar</button>
  </div>
  <app-listacftv></app-listacftv>
</section>
