<section id="suporte">
  <div class="imagens">
    <img src="/assets/imagens/suporte/imagem1.jpg" alt="" />
  </div>
  <h2>Suporte</h2>
  <p>Suporte 24x7. Porque imprevistos não têm hora marcada.</p>
  <div class="suporteContainer">
    <h3>Tipo de Atendimento</h3>
    <div class="itensContainer">
      <a
        href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20administrativo."
        target="_blank"
      >
        <div class="item">
          <i class="bi bi-laptop"></i>
          <span>Administrativo</span>
        </div>
      </a>
      <a
        href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20comercial."
        target="_blank"
      >
        <div class="item">
          <i class="bi bi-headset"></i>
          <span>Comercial</span>
        </div>
      </a>
      <a
        href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20financeiro."
        target="_blank"
      >
        <div class="item">
          <i class="bi bi-piggy-bank-fill"></i>
          <span>Financeiro</span>
        </div>
      </a>
      <a
        href="https://wa.me/551146173562?text=Ol%C3%A1%2C%20gostaria%20suporte%20sobre%20o%20Sem%20Parar."
        target="_blank"
      >
        <div class="item">
          <i class="bi bi-car-front"></i>
          <span>Sem Parar</span>
        </div>
      </a>
    </div>
  </div>
</section>
