<section id="suporte">
  <div class="imagens">
    <img src="/assets/imagens/suporte/imagem1.jpg" alt="" />
  </div>
  <h2>Suporte</h2>
  <p>Suporte 24x7. Porque imprevistos não têm hora marcada.</p>
  <div class="suporteContainer">
    <h3>Tipo de Atendimento</h3>
    <div class="itensContainer">
      <div class="item">
        <i class="bi bi-piggy-bank-fill"></i>
        <span>Financeiro</span>
      </div>
      <div class="item">
        <i class="bi bi-laptop"></i>

        <span>Administrativo</span>
      </div>
      <div class="item">
        <i class="bi bi-headset"></i>
        <span>Comercial</span>
      </div>
      <div class="item">
        <i class="bi bi-car-front"></i>
        <span>Sem Parar</span>
      </div>
    </div>
  </div>
</section>
