@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

:root {
    --azul-principal: #0c67a4;
    --texto-sistema: #414141;
}

body {
    background-color: #FEF9FF;
    overflow: hidden;
}