nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: relative;
  box-shadow: -1px 7px 14px -5px rgba(0, 0, 0, 0.14);
  z-index: 800;
  width: 100vw;
}

.logo img {
  height: 80px;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.principal {
  display: flex;
  gap: 2rem;
  list-style: none;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.principalTitulo {
  color: var(--azul-principal);
}

.principalTitulo:hover {
  color: var(--laranja-principal);
}

.principalTitulo {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
  color: var(--azul-principal);
}

.principalTitulo:hover {
  color: var(--laranja-principal);
}

a {
  color: var(--azul-principal);
}

a:hover {
  color: var(--laranja-principal);
}

.subMenu {
  list-style: none;
  font-size: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 5px 5px 15px -5px rgba(149, 147, 147, 0.895);
  font-size: 0.9rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  position: absolute;
}

i {
  font-size: 0.5rem;
}

.teste button {
  background-color: var(--azul-principal);
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 600;
}

.teste button:hover {
  transform: scale(1.1);
  color: var(--laranja-principal);
}
@media (max-width: 1023px) {
  nav {
    display: none;
  }
}
